.pokemon-card {
  transition: transform 0.5s;
}

.pokemon-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.pokemon-type {
  width: 7em;
  height: 2em;
  color: #fff;
}

.modal-loading > .modal-dialog > .modal-content {
  background-color: transparent !important;
  border: none;
}

.color-bug {
  background-color: #a8b820;
}
.color-dark {
  background-color: #705848;
}
.color-dragon {
  background-color: #7038f8;
}
.color-electric {
  background-color: #f8d030;
}
.color-fairy {
  background-color: #ee99ac;
}
.color-fighting {
  background-color: #c03028;
}
.color-fire {
  background-color: #f08030;
}
.color-flying {
  background-color: #a890f0;
}
.color-ghost {
  background-color: #705898;
}
.color-grass {
  background-color: #78c850;
}
.color-ground {
  background-color: #e0c068;
}
.color-ice {
  background-color: #98d8d8;
}
.color-normal {
  background-color: #a8a878;
}
.color-poison {
  background-color: #a040a0;
}
.color-psychic {
  background-color: #f85888;
}
.color-rock {
  background-color: #b8a038;
}
.color-steel {
  background-color: #b8b8d0;
}
.color-water {
  background-color: #6890f0;
}
.color-eff-immune {
  background-color: #d6d6d6;
}
.color-eff-noteffective {
  background-color: #fdd0d0;
}
.color-eff-veryeffective {
  background-color: #ccfbcc;
}
